body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: #FAF9F6;
    background-color: #36454F;
    
}

.container {
    display: flex;
    min-height: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; 
    height: 100vh;
    background-color: #222;
    color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto; 
    z-index: 1000; 
}

.sidebar-footer {
    text-align: center;
    font-size: 0.75rem;
    color: #aaa;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #444;
  }

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background 0.2s;
}

.sidebar a:hover {
    text-decoration: underline;
    background-color: #444;
    color: #fff;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

.hidden {
    display: none;
    opacity: 0;
}

.slide-in {
    animation: slideIn 1.5s ease forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    50% {
      transform: translateX(50%);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  

.slide-out {
    animation: slideOut 1.5s ease forwards;
}

@keyframes slideOut {
    100% {
        transform: translateX(100%);
        opacity: 1;
    }
    50% {
        transform: translateX(50%);
        opacity: 0,5;
    }
    0% {
        transform: translateX(0);
        opacity: 0;
    }
}

#game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    margin-top: 10px;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: #eee;
}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}

#score {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  #scoreboard {
    margin-top: 10px;
  }
  
  #restart-btn {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
  }
  
  #restart-btn:hover {
    background-color: #444;
  }
  